* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}


.container {
    width: 100%;
    margin: auto;
}

.box {
    height: 100vh;
    width: 100%;
    margin: 10px;
    text-align: center;
}

#primo {
    background-color: red;
}

.scarpe img {
    width: 50%;
    height: 50%;
}

.scritta {
    width: 60%;
}

.scritta.gialla {
    color: yellow;
}

/* #secondo {
    background-color: green;
}


#terzo {
    background-color: yellow;
}

.scritta.verde {
    color: green;
} */